body {
	margin: 0 auto;
	padding: 0;
	width: 80%;
}

.headlogo {
	background-color: #edadec;
	display: flex;
	width: 100%;
	margin: 0;
	padding: 0;
}

.headlogo img {
	width: 25%;
	margin: 10px 10px 10px 0;
	height: auto;
}


.headlogo h1 {
	position: relative;
	top: 5px;
	left: -15px; 
}

nav {
	display: flex;
	background-color: #ffa9e5;
	width: 100%;
	margin-left: 0px;
}

nav ul {
	list-style-type: none;
	overflow: hidden;
}

nav li {
	float: left;
	text-transform: uppercase;
}

nav li a {
	display: block;
	text-align: justify;
	text-decoration: none;
	color: white;
	font-weight: bold;
	margin: 0 35px 0 -10px;
}

.title {
	text-align: center;
	font-size: 40pt;
}

#blogposts {
    width: calc(100%-35px);
	background-color: #978484;
	text-transform: uppercase;
	font-weight: bold;
	color: white;
	padding-left: 30px;
	margin-top: 15px;
	margin-bottom: 20px;
	display: flex;
  
}

.blogcontent {
	width: 100%;
	margin-bottom: 50px;
}

.row {
	height: 50%;
	display: flex;
	justify-content: space-between;
	object-fit: contain;
}


.pics {
	width: 45%;
	height: auto;
	margin-bottom: -50px;
	margin-top: 20px;
}


.pics img {
    width: 100px;
    height: 100px;
    background: red;
  
transition
: 
width 2s
;
}

div:hover {
  width: 300px;
}


.pics p {
	margin-top: 0;
	width: 100%;
	height: auto;
}

.pics p a {
	font-weight: bold;
	font-size: 12pt;
	text-decoration: none;
	color: black;
}


.footer {
	text-align: center;
	font-size: 20pt;
}


.footer img {
	width: 30%;
	height: auto;
}

#contactform {
	text-align: center;
	border: 1px solid black;
	padding: 15px 0;
	margin-bottom: 25px;
}

#form {
	display: inline-block;
	text-align: left;
	font-weight: bold;
}

.about {
	width: 100%;
	height: auto;
	display: flex;
	background-color: #978484;
	margin-bottom: 25px;
}

.portrait img {
	width: 80%;
	height: auto;
	margin-right: 25px;
}

